[application]

[web.app]

[web]
favicon = "assets/erp_logo.png"

# HTML title tag content
title = "erp"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
