/* App-wide styling */
body {
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#main {
    margin: 0px;

}

.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content";
    grid-template-columns: 1fr 5fr;
    gap: 3px;
}

.container div {
    border: 0.5px solid rgb(192, 192, 192);
}
.container div.header {
    grid-area: header;
    background-color: green;
}

.container div.menu {
    grid-area: menu;
}

/*Button*/
.btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5;
}
