/* App-wide styling */
body {
    background-color: #E0FFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#main {
    margin: 0px;
    height: 100vh;

}

/*Navigation*/
.nav a{
    text-decoration: none;
}


/*Grundgerüst*/
.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content";
    grid-template-columns: 1fr 5fr;
    gap: 3px;
}

.container div {
    background-color: white;

}
.container div.header {
    grid-area: header;
    background-color: green;
    margin-bottom: 5px;
 
}
.container div.header a {
   text-decoration: none;
   padding-left: 20px;
}

.container div.menu {
    grid-area: menu;
}

/*Button*/
.btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5;
    height: 25px;
}

/*Menüband*/
.functions {
    height: 50px;
    display: flex;
    align-items: center;
}
.functions a {
    margin: 5px;
}