/* App-wide styling */
body {
    background-color:#F0F8FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
#main {
    margin: 0px;
    height: 100vh;

}

/*Navigation*/
.nav a{
    text-decoration: none;
    color: black;
}
h2 {
    margin-left: 40px;
}


/*Grundgerüst*/
.container {
    display: grid;
    grid-template-areas:
    "header header"
    "menu content";
    grid-template-columns: 1fr 5fr;
}

.container div {
    background-color: white;
}
.container div.header {
    grid-area: header;
    border:0.5px solid rgb(206, 206, 206);
 
}
.container div.header a {
   text-decoration: none;
   padding-left: 20px;
}

.container div.menu {
    grid-area: menu;
    border:0.5px solid rgb(206, 206, 206);
}

.container div.content {
    border:0.5px solid rgb(206, 206, 206);
    padding:25px;
}
/*Button*/
button {
    all: unset;
}

.btn {
    border:0.5px solid black;
    color: #1f1f1f;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5;
    height: 25px;
    width: 80px;
    font-size: 12pt;
    text-align: center;
    margin-bottom: 10px;
}

/*Menüband*/
.functions {
    height: 50px;
    display: flex;
    align-items: center;
}
.functions a {
    margin: 5px;
}

.add_form input {
    width: 50%;
    height: 30px;
    border:0.5px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

img {
    height: 25px;
    width: 25px;
    align-items: baseline;
}

/*Tabellen*/
table {
    width: 100%;
    border-collapse: collapse;
}
table tr td, table tr th {
    border-bottom: 0.5px solid rgb(184, 184, 184);
    text-align: left;
    line-height: 18pt;
}